@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}


.app-tab-item[data-selected="true"] .tabIcon svg, .app-tab-item[data-selected="true"] .tabIcon svg path {
  @apply text-primary-foreground stroke-none
}

.app-tab-item .tabIcon svg, .app-tab-item .tabIcon svg path {
  @apply text-default-500  stroke-none
}


